%h1 
  esta es la pagina para hacer upload que necesita autenticacion...
  %p=current_user.email
#webcam
#chorizo
  hola esto es chorizo
.camera#camera
:javascript    
  webcam.set_swf_url('/webcam.swf');
  webcam.set_api_url(' upload_photos_path ');
  webcam.set_quality(90);
  webcam.set_shutter_sound(true, '/shutter.mp3');
  webcam.set_hook('onLoad', 'onload_complete');
  webcam.set_hook('onComplete', 'upload_complete');
  $('#webcam').html(webcam.get_html(320, 240));
%input{:onclick => "webcam.snap();", :type => "button", :value => "Take picture"}/